﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<!--MrinalStart-->
<!-- start about -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>What</span> We Do </h2>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <!--<i class="fa fa-mobile"></i>-->
                        </div>
                        <h3 class="media-heading">Customized Order</h3>
                    </div>
                    <div class="media-body">
                        <p>We make customized orders as per the client's needs. If you give me a design, we can print saree as per your choice. Please tell your friends & family about it..</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <!--<i class="fa fa-comment-o"></i>-->
                        </div>
                        <h3 class="media-heading">Bulk Order</h3>
                    </div>
                    <div class="media-body">
                        <p>We can generate a large number of products in a short duration. Our production usually reaches 10000 Saree per month. We export our product across India to various fashion stores.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="media">
                    <div class="media-heading-wrapper">
                        <div class="media-object pull-left">
                            <!--<i class="fa fa-html5"></i>-->
                        </div>
                        <h3 class="media-heading">Product & Material</h3>
                    </div>
                    <div class="media-body">
                        <p>We sell different types of Pure Silk, Matka Silk, Vita silk, Silk-Cotton, Bangalore Silk, Tasar Silk Saree. Our production house are enable with both handloom and power loom machine, and our Saree use both natural and adofil color as per the requirement.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end about -->
<!--MrinalEnd-->