﻿
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Service</h2>
<!-- start service -->
<section id="service">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>What</span> We Do</h2>
            </div>
            <div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                <!--<i class="fa fa-laptop"></i>-->
                <h4>Our Client</h4>
                <p>We have a very renowned, popular, and happy customer in several boutiques, fashion houses, garment company. To name a few : <a rel="nofollow" href="https://www.fabindia.com/">Fabindia</a>,<a rel="nofollow" href="https://www.seematti.com/"> Seematti </a>, <a rel="nofollow" href="https://www.facebook.com/adidhakerswari/">Adi Dhakerswari</a>,<a rel="nofollow" href="https://www.facebook.com/Urvashi-saree-214774218664744/"> Urvashi Saree</a>, Ghanshyam Silk, Vogue Vature      </br></br></br></p>
            </div>
            <div class="col-md-4 active wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">
                <!--<i class="fa fa-cloud"></i>-->
                <h4>Our Mission</h4>
                <p>We help the small community to grow, generate work for rural workers, make economically independent women in the village. Our company is not only an enterprise; it helps the remote worker to sustain financially. Our mission is to create a job at home to all the people in the economically undeveloped areas.</p>
            </div>
            <div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                <!--<i class="fa fa-cog"></i>-->
                <h4>Our Partner</h4>
                <p>We are an individual company, and we do not have any partner channel yet. We welcome affiliate marketers with high incentives. </br></br></br></br></br></p>
            </div>
        </div>
    </div>
</section>
<!-- end servie -->
