﻿
@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Team</h2>
<!-- start team -->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>The</span> Team</h2>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
                <div class="team-wrapper">
                    <img src="/Images/team-img1.jpg" class="img-responsive" alt="team img 1">
                    <div class="team-des">
                        <h4>Arup Biswas</h4>
                        <span>Owner & CEO</span>
                        <p>He is a budding entrepreneur who is managing the business since last 15 years. He has a keen eye on precision, large team (20000 employees) handle, and quality control. </br></br></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
                <div class="team-wrapper">
                    <img src="/Images/team-img2.jpg" class="img-responsive" alt="team img 2">
                    <div class="team-des">
                        <h4>Swarup Biswas</h4>
                        <span>Senior Manager</span>
                        <p>He is the brother of the owner who took the family business seriously and brought it to the next level. Swarup works tirelessly for production management, channel communication & employee management..</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
                <div class="team-wrapper">
                    <img src="/Images/team-img3.jpg" class="img-responsive" alt="team img 3">
                    <div class="team-des">
                        <h4>Office Stuff</h4>
                        <span>Super 12+</span>
                        <p>The backbone of the company who manage all official work, manage the workshop and ground level worker, manage the warehouse and showroom.</br></br></br></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
                <div class="team-wrapper">
                    <img src="/Images/team-img4.jpg" class="img-responsive" alt="team img 4">
                    <div class="team-des">
                        <h4>Ground Worker</h4>
                        <span>20000+</span>
                        <p>The ground level worker, who does the actual work like cut, stitch, print, die, pack, deliver the product. There are lots of freelancers and community-based workgroup who contribute themself to build up this team.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end team -->
